
@{
    ViewData["Title"] = "Создание задачи";
}
@model ChadCalendar.Models.Task

<form action="/task/AddTask" method="post">
    <div class="form-group">
        <label>Название задачи</label>
        <input type="text" placeholder="" asp-for="Name">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label>Количество часов на задачу</label>
        <input type="number" asp-for="HoursTakes" min="0">
        <span asp-validation-for="HoursTakes"></span>
    </div>
    <div class="form-group">
        <label>Описание</label>
        <textarea type="text" placeholder="" asp-for="Description"></textarea>
    </div>
    <div class="form-group">
        <label>Дедлайн</label>
        <input type="datetime-local" asp-for="Deadline" />
    </div>
    <div class="form-group">
        <label>Выберите проект для задачи</label>
        <select asp-for="Project.Id">
            @foreach (var proj in ViewBag.Projects)
            {
                <option value="@proj.Id">@proj.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="checkbox" asp-for="AllowedToDistribute"><label>Задачу можно автоматически распределить</label><br>
    </div>
    <div class="form-group">
        <label>После какой задачи расположить</label>
        <select asp-for="Predecessor.Id">
            <option value="@null">После любой</option>
            @if (ViewBag.TasksOfProject != null)
            {
                foreach (var task in ViewBag.TasksOfProject)
                {
                    <option value="@task.Id">@task.Name</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label>Максимум в день</label>
        <input type="number" placeholder="" asp-for="MaxPerDay" min="0">
    </div>
    <div class="form-group">
        <label>Частота</label>
        <select asp-for="Frequency">
            <option disabled>Частота</option>
            <option>Никогда</option>
            <option>Каждый день</option>
            <option>Каждую неделю</option>
            <option>Каждый месяц</option>
        </select>
    </div>
    <div class="form-group">
        @if (ViewBag.Error != null)
        {
            <label>Проверьте правильность заполнения полей</label>
        }
    </div>
    <button type="submit" class="btn btn-primary">Готово</button>
</form>

