
@{
    ViewData["Title"] = "Изменение задачи";
}
@model ChadCalendar.Models.Task

<form action="/task/edit" method="post">
    <div hidden="hidden">
        <label asp-for="Id">Input Login</label><br />
        <input asp-for="Id" />
        <span asp-validation-for="Id" />
    </div>
    <div hidden="hidden">
        <label asp-for="Accessed">Input Accessed</label><br />
        <input asp-for="Accessed" />
        <span asp-validation-for="Accessed" />
    </div>
    <div class="form-group">
        <label>Название задачи</label>
        <input type="text" placeholder="Name" asp-for="Name">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label>Время на задачу</label>
        <input type="time" datetime="PT8H5M" asp-for="HoursTakes" min="0">
        <span asp-validation-for="HoursTakes"></span>
    </div>
    <div class="form-group">
        <label>Описание</label>
        <textarea type="text" placeholder="Description" asp-for="Description"></textarea>
    </div>
    <div class="form-group">
        <label>Дедлайн</label>
        <input type="datetime-local" asp-for="Deadline" />
    </div>
    <div class="form-group">
        <label>Выберите проект для задачи</label>
        <select asp-for="Project.Id">
            <option value="@Model.Project.Id">@Model.Project.Name</option>
            @foreach (var proj in ViewBag.Projects)
            {
                @if (proj != Model.Project)
                {
                    <option value="@proj.Id">@proj.Name</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <input type="checkbox" asp-for="AllowedToDistribute"><label>Задачу можно автоматически распределить</label><br>
    </div>
    <div class="form-group">
        <label>После какой задачи расположить</label>
        <select asp-for="Predecessor.Id">
            @if (Model.Predecessor != null)
            {
                <option value="@Model.Predecessor.Id">@Model.Predecessor.Name</option>
            }
            <option value="@null">После любой</option>
            @if (ViewBag.TasksOfProject != null)
            {
                foreach (var task in ViewBag.TasksOfProject)
                {
                    if (task != Model.Predecessor)
                    {
                        <option value="@task.Id">@task.Name</option>
                    }
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label>Максимум в день</label>
        <input type="number" placeholder="" asp-for="MaxPerDay" min="0">
    </div>
    <div class="form-group">
        <label>Частота</label>
        <select asp-for="Frequency">
            <option>Каждый день</option>
            <option>Каждую неделю</option>
            <option>Каждый месяц</option>
            <option>Никогда</option>
        </select>
    </div>
    <div class="form-group">
        @if (ViewBag.Error != null)
        {
            <label>Проверьте правильность заполнения полей</label>
        }
    </div>
    <button type="submit" class="btn btn-primary">Готово</button>
</form>
<form asp-controller="Task" asp-action="Delete" method="post">
    <div hidden="hidden">
        <label asp-for="Id">Input Login</label><br />
        <input asp-for="Id" />
        <span asp-validation-for="Id" />
    </div>
    <button type="submit" class="btn btn-danger">Удалить задачу</button>
</form>

