@page "/"
@using ChadWebCalendar.Data.Models
@using ChadWebCalendar.Data.Services
@inject IAccountService _accountService;
@using ChadWebCalendar.Components.Events
@using ChadWebCalendar.Components.Tasks
@using ChadWebCalendar.Components 
@using ChadWebCalendar.Components.Projects
@using ChadWebCalendar.Pages 
@using AntDesign; 
@using ChadWebCalendar.Data
@using ButtonType = AntDesign.ButtonType


<div>
    <AuthorizeView>
        <Authorized>
            <div class="navmenu">
                <NavigationMenu></NavigationMenu>
            </div>
            <div class="main_container">
                <div class="projectlist">
                    <ProjectList GetProject="GetProjectId" />
                </div>
                <div class="tasklist">
                    <div class="row d-md-table-row">
                        <Button Type="@ButtonType.Primary">Секрет</Button>
                        <Button OnClick="@(() => { visibleEditProject = true; })">
                            
                            @projName
                        </Button>
                        <Modal Title="Изменить проект"
                               Visible="@visibleEditProject"
                               OnOk="(e)=>{visibleEditProject = false;}"
                               OnCancel="(e)=>{visibleEditProject = false;}">
                            <ProjectEdit projectId="projId"/>
                        </Modal>
                        <Button OnClick="@(() => { visibleTask = true; })">
                            +
                        </Button>
                        <Modal Title="Добавить таск"
                               Visible="@visibleTask"
                               OnOk="(e) => { visibleTask = false; }"
                               OnCancel="(e) => { visibleTask = false; }">
                            <TaskAdd/>
                        </Modal>
                    </div>
                    <TaskList projectId="@projId"/>
                    </div>
                <div class="scheduler">
                    <Scheduler></Scheduler>
                </div>
            </div>
            <div>
                <Button OnClick="@(()=>{ visibleEvent = true; })">
                    Добавить событие
                </Button>
                <Modal Title="Добавить событие"
                       Visible="@visibleEvent"
                       OnOk="(e)=>{visibleEvent = false;}"
                       OnCancel="(e)=>{visibleEvent = false;}">
                    <EventAdd></EventAdd>
                </Modal>
            </div>
            <div>
                <Button OnClick="@(()=>{ visibleProject = true; })">
                    Добавить проект
                </Button>
                <Modal Title="Добавить проект"
                       Visible="@visibleProject"
                       OnOk="(e)=>{visibleProject = false;}"
                       OnCancel="(e)=>{visibleProject = false;}">
                    <ProjectAdd/>
                </Modal>
            </div>
            <div>
                <Button OnClick="@(()=>{ visibleTask = true; })">
                    Добавить таск
                </Button>
                <Modal Title="Добавить таск"
                       Visible="@visibleTask"
                       OnOk="(e)=>{visibleTask = false;}"
                       OnCancel="(e)=>{visibleTask = false;}">
                    <TaskAdd/>
                </Modal>
            </div>
            <div>
                <Button OnClick="@(()=>{ visibleEditProject = true; })">
                    Изменить проект
                </Button>
                <Modal Title="Изменить проект"
                       Visible="@visibleEditProject"
                       OnOk="(e)=>{visibleEditProject = false;}"
                       OnCancel="(e)=>{visibleEditProject = false;}">
                    <ProjectEdit projectId="projId"/>
                </Modal>
            </div>
        </Authorized>
        <NotAuthorized>
            <LogIn />
        </NotAuthorized>
    </AuthorizeView>
</div>

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }
    private List<ChadWebCalendar.Data.Task> Tasks = new List<ChadWebCalendar.Data.Task>();
    private IList<Claim> userClaim = new List<Claim>();
    private LoginModel model = new LoginModel();


    private async void Logout()
    {
        await _accountService.LogoutAsync();
    }
    private void GetProjectId(Project pr)
    {
        projId = pr.Id;
        projName = pr.Name;
    }
    bool visibleEvent = false;
    bool visibleProject = false;
    bool visibleTask = false;
    bool visibleEditProject = false;
    public int? projId;
    public string? projName = "Выбери проект";

    

    
}