@using ChadWebCalendar.Data.Services
@inject EventService eventService
@inject NavigationManager NavigationManager
@attribute [Authorize]
@inject DialogService DialogService
@attribute [Authorize]
@using ChadWebCalendar.Data
@inject NotificationService NotificationService

<RadzenTemplateForm TItem="Appointment" Data="@model" Submit=@OnSubmit>
    <DataAnnotationsValidator />
    <ValidationSummary></ValidationSummary>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Название" />
        </div>
        <div class="col">
            <RadzenTextBox @bind-Value="@model.Text" Name="Text" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Описание" />
        </div>
        <div class="col">
            <RadzenTextArea @bind-Value="@model.Description" Name="Description" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px" hidden>
        <div class="col-md-3">
            <RadzenLabel Text="Частота" />
        </div>
        <div class="col">
            <div class="form-group">
                <label></label>
                <select @bind="model.Frequency">
                    <option><RadzenLabel Text="Никогда" /></option>
                    <option><RadzenLabel Text="Каждый день" /></option>
                    <option><RadzenLabel Text="Каждую неделю" /></option>
                    <option><RadzenLabel Text="Каждый месяц" /></option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Начало" />
        </div>
        <div class="col">
            <RadzenDatePicker @bind-Value="@model.StartEndTime.Start" Name="Start" ShowTime="true" />
        </div>
    </div>
    <ValidationMessage For="() => _event" />
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Конец" />
        </div>
        <div class="col">
            <RadzenDatePicker Name="End" @bind-Value="@model.StartEndTime.End" ShowTime="true" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Напомнить за" />
        </div>
        <div class="col">
            <div class="form-group">
                <label>Напомнить за</label>
                <input class="form-control" type="number" @bind="model.RemindNMinutesBefore" min="0">
                <label>минут</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col">
            <RadzenButton ButtonType="Radzen.ButtonType.Submit" Style="background-color: blue" Text="Готово" />
        </div>
    </div>
</RadzenTemplateForm>
@code {
    [Parameter]
    public DateTime Start { get; set; }

    [Parameter]
    public DateTime End { get; set; }

    Appointment model = new Appointment();
    Data.Event _event;
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; }
    string userName;

    private void addEvent(Appointment model)
    {
        userName = authenticationState.Result.User.Identity.Name;
        _event = new Event
        {
            Name = model.Text,
            Description = model.Description,
            StartsAt = model.StartEndTime.Start,
            FinishesAt = model.StartEndTime.End,
            Frequency = model.Frequency,
            RemindNMinutesBefore = model.RemindNMinutesBefore
        };
        if (eventService.Create(_event, userName))
        {
            DialogService.Close(model);
        }
        NavigationManager.NavigateTo("/", true);
    }

    protected override void OnParametersSet()
    {
        model.StartEndTime.Start = Start;
        model.StartEndTime.End = End;
    }

    void OnSubmit(Appointment model)
    {
        addEvent(model);
    }
}